/* font-family: 'Roboto', sans-serif;

COLORS
teal - #0fb9b1;
frosted white - rgba(225, 225, 225, .9);
grey - #95a5a6;
red - #ee5253

*/

body {
    margin: 0;
}

* { 
    -moz-box-sizing: border-box; 
    -webkit-box-sizing: border-box; 
     box-sizing: border-box; 
}

#title {
    background-color: #0fb9b1;
    margin: 0;
    font-family: 'Roboto', sans-serif;
    font-size: 20px;
    padding: 20px;
    display: flex;
    justify-content: space-between;
    font-weight: normal;
}

#image {
    width: 1440;
    height: 1000;
}

.image-container {
    position: relative;
    display: inline-block;
    display: flex;
    justify-content: center; 
    align-items: center;
}

.box1, .box2 {
    position: absolute;
    background-color: rgba(255, 255, 255, 0.9); 
    padding: 20px;
    opacity: 90%;
    top: 10%;
    height: 370;
    width: 480;
    font-family: 'Roboto', sans-serif;
    color: grey - #95a5a6;
  }

  .box1 {
    left: 10%;
    display: flex;
    flex-direction: column;
    padding: 70px 40px 50px;
    font-size: 24;
    justify-content: space-evenly;
  }

  .box2 {
    right: 10%;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .blue-button {
    background-color:#0fb9b1;
    border: none;
    color: grey - #95a5a6;
    border-radius: 5px;
    width: 175;
    height: 30;
    font-size: small;
  }

  .superscript {
    vertical-align: super;
  }

 .radio {
    font-size: medium;
 }

 .pot {
  height: 150;
 }

 span {
  display: inline;
 }

 .dish {
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
 }

 .dish-name {
  font-size: 38px;
  font-weight: normal;
  margin: 0;
 }

 .clear {
  position: relative;
  border: none;
  color: white;
  background-color: #95a5a6;
  border-radius: 5px;
  width: 65;
  height: 30;
  top: 115;
  left: 185;
 }